<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<b>SegNet結果圖</b>
    <div align="center" style="position:relative;top:200px;">
    <img src="images/tree1.png" alt="SegNet結果圖" title="SegNet結果圖" width="800px" height="800px">
    </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <input type ="button" onclick="history.back()" value="回到上一頁"></input>
</body>

</html>